<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/forgot-password.css" rel="stylesheet">
</head>
<body>
<div class="form-container">
    <div class="feedback-message error" th:if="${param.error}" style="display: flex;">
        Invalid link or email.
    </div>
    <h2>Reset Password</h2>
    <form method="post" th:action="@{/reset-password}">
        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
        <input type="submit" class="submit-button" value="Send Reset Link">
        <a type="button" class="submit-button" href="/login">Back to login</a>
    </form>
</div>
</body>
</html>
