<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Activity Tracker</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="navbar">
    <a href="#" th:href="@{/logout}">Logout</a>
    <div>
        <a href="/home">Home</a>
        <a href="home/profile">My Profile</a>
        <a href="home/achievements">Achievements</a>
    </div>

    <div class="profile-picture">
        <img th:if="${profilePicture != null}" th:src="'data:image/jpeg;base64,' + ${profilePicture}" alt="Profile Picture">
        <img th:if="${profilePicture == null}" src="/img/default-icon.png" alt="Default Icon" class="default-icon">
    </div>
</div>

<div class="container">
    <div class="icon">
        <img src="/img/poop.png" class="icon-image">
    </div>
    <div class="title" th:text="${lastPoopDuration}">Time since last poop</div>
    <div class="subtitle">Last poop time</div>
    <button class="add-button" onclick="location.href='home/add-poop'">Add</button>
</div>

<div class="container">
    <div class="activity-list">
        <h2>Activity Overview</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Color</th>
                <th>Weight</th>
                <th>Activity Level</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="poop : ${activityData}">
                <td th:text="${poop.createdAt}">10 Nov 2024</td>
                <td th:text="${poop.color}">Brown</td>
                <td th:text="${poop.weight}" class="weight-category">Light</td>
                <td>
        <span class="activity-level"
              th:classappend="${poop.weight == 'heavy'} ? 'high' : (${poop.weight == 'medium'} ? 'medium' : 'low')">
        </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/activity.js"></script>
</body>
</html>
