<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Calendar</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
<div class="navbar">
    <a href="#" th:href="@{/logout}">Logout</a>
    <div>
        <a href="/home">Home</a>
        <a href="home/profile">My Profile</a>
        <a href="home/achievements">Achievements</a>
    </div>

    <div class="profile-picture">
            <img th:if="${profilePicture != null}" th:src="'data:image/jpeg;base64,' + ${profilePicture}" alt="Profile Picture">
            <img th:if="${profilePicture == null}" src="/img/default-icon.png" alt="Default Icon" class="default-icon">
    </div>
</div>

<div class="container">
    <div class="icon">
        <img src="/img/poop.png" class="icon-image">
    </div>
    <div class="title" th:text="${lastPoopDuration}"></div>
    <div class="subtitle">last poop time</div>
    <button class="add-button" onclick="location.href='home/add-poop'">Add</button>
</div>

<div class="container">
    <div class="calendar">
        <h2>Calendar</h2>
        <div id="calendar"></div>
    </div>
</div>

<script>
    const poopedDates = new Set();
    const calendar = flatpickr("#calendar", {
        inline: true,
        mode: "multiple",
        dateFormat: "Y-m-d",
        defaultDate: [...poopedDates],
        onDayCreate: function(dObj, dStr, fp, dayElem) {
            const dateStr = dayElem.dateObj.toISOString().split('T')[0];
            if (poopedDates.has(dateStr)) {
                dayElem.classList.add("pooped-day");
            }
        }
    });
</script>

</body>
</html>
