<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="/css/my-profile.css" rel="stylesheet">
</head>
<body>

<div class="profile-container">
  <h1>My Profile</h1>

  <div class="feedback-message success" th:if="${param.uploadedImage}" style="display: flex;">
    Successfully uploaded photo.
  </div>

  <form action="/home/profile/upload-profile-image" method="post" enctype="multipart/form-data" class="profile-header">

    <div class="profile-picture">
      <img th:if="${profilePicture != null}" th:src="'data:image/jpeg;base64,' + ${profilePicture}" alt="Profile Picture">
      <img th:if="${profilePicture == null}" src="/img/default-icon.png" alt="Default Icon" class="default-icon">
    </div>


    <label for="fileInput" class="upload-button">Upload</label>
    <input type="file" id="fileInput" name="profilePicture" accept="image/*" onchange="this.form.submit()">
  </form>


  <div class="profile-info">
    <p><label>Name:</label> <span th:text="${user.firstname}">Artur</span></p>
    <p><label>Surname:</label> <span th:text="${user.lastname}">Surname</span></p>
    <p><label>Email:</label> <span th:text="${user.email}">artur@example.com</span></p>
    <p><label>Total Poops:</label> <span th:text="${countPoop}">42</span></p>
  </div>

  <div class="poop-level" th:text="${user.level}">Level: Poop Master</div>

  <button class="back-button" onclick="location.href='/home'">Back to Home</button>
</div>

</body>
</html>
