<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New password</title>
</head>
<body>
<h2>Type new passowrd</h2>
<form th:action="@{/change-password}" method="post">
  <input type="hidden" name="token" th:value="${token}" />
  <input type="hidden" name="email" th:value="${email}" />
  <label for="newPassword">New Password:</label>
  <input type="password" id="newPassword" name="newPassword" required />
  <button type="submit">Change password</button>
</form>
</body>
</html>
