<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="/css/new-password.css" rel="stylesheet">
</head>
<body>
<div class="form-container">
  <h2>New Password</h2>
  <form th:action="@{/change-password}" method="post">
    <input type="hidden" name="token" th:value="${token}" />
    <input type="hidden" name="email" th:value="${email}" />
    <label for="newPassword" class="form-label">New Password</label>
    <input type="password" id="newPassword" name="newPassword" class="form-control" required />
    <button type="submit" class="submit-button">Change Password</button>
  </form>
</div>
</body>
</html>
